body:after {
    content:
        url('imgTest/IMG-0003-00126.jpg')
        url('imgTest/IMG-0003-00125.jpg')
        url('imgTest/IMG-0003-00124.jpg')
        url('imgTest/IMG-0003-00123.jpg')
        url('imgTest/IMG-0003-00122.jpg')
        url('imgTest/IMG-0003-00121.jpg')
        url('imgTest/IMG-0003-00120.jpg')
        url('imgTest/IMG-0003-00119.jpg')
        url('imgTest/IMG-0003-00118.jpg')
        url('imgTest/IMG-0003-00117.jpg')
        url('imgTest/IMG-0003-00116.jpg')
        url('imgTest/IMG-0003-00115.jpg')
        url('imgTest/IMG-0003-00114.jpg')
        url('imgTest/IMG-0003-00113.jpg')
        url('imgTest/IMG-0003-00112.jpg')
        url('imgTest/IMG-0003-00111.jpg')
        url('imgTest/IMG-0003-00110.jpg')
        url('imgTest/IMG-0003-00109.jpg')
        url('imgTest/IMG-0003-00108.jpg')
        url('imgTest/IMG-0003-00107.jpg')
        url('imgTest/IMG-0003-00106.jpg')
        url('imgTest/IMG-0003-00105.jpg')
        url('imgTest/IMG-0003-00104.jpg')
        url('imgTest/IMG-0003-00103.jpg')
        url('imgTest/IMG-0003-00102.jpg')
        url('imgTest/IMG-0003-00101.jpg')
        url('imgTest/IMG-0003-00100.jpg')
        url('imgTest/IMG-0003-00099.jpg')
        url('imgTest/IMG-0003-00098.jpg')
        url('imgTest/IMG-0003-00097.jpg')
        url('imgTest/IMG-0003-00096.jpg')
        url('imgTest/IMG-0003-00095.jpg')
        url('imgTest/IMG-0003-00094.jpg')
        url('imgTest/IMG-0003-00093.jpg')
        url('imgTest/IMG-0003-00092.jpg')
        url('imgTest/IMG-0003-00091.jpg')
        url('imgTest/IMG-0003-00090.jpg')
        url('imgTest/IMG-0003-00089.jpg')
        url('imgTest/IMG-0003-00088.jpg')
        url('imgTest/IMG-0003-00087.jpg')
        url('imgTest/IMG-0003-00086.jpg')
        url('imgTest/IMG-0003-00085.jpg')
        url('imgTest/IMG-0003-00084.jpg')
        url('imgTest/IMG-0003-00083.jpg')
        url('imgTest/IMG-0003-00082.jpg')
        url('imgTest/IMG-0003-00081.jpg')
        url('imgTest/IMG-0003-00080.jpg')
        url('imgTest/IMG-0003-00079.jpg')
        url('imgTest/IMG-0003-00078.jpg')
        url('imgTest/IMG-0003-00077.jpg')
        url('imgTest/IMG-0003-00076.jpg')
        url('imgTest/IMG-0003-00075.jpg')
        url('imgTest/IMG-0003-00074.jpg')
        url('imgTest/IMG-0003-00073.jpg')
        url('imgTest/IMG-0003-00072.jpg')
        url('imgTest/IMG-0003-00071.jpg')
        url('imgTest/IMG-0003-00070.jpg')
        url('imgTest/IMG-0003-00069.jpg')
        url('imgTest/IMG-0003-00068.jpg')
        url('imgTest/IMG-0003-00067.jpg')
        url('imgTest/IMG-0003-00066.jpg')
        url('imgTest/IMG-0003-00065.jpg')
        url('imgTest/IMG-0003-00064.jpg')
        url('imgTest/IMG-0003-00063.jpg')
        url('imgTest/IMG-0003-00062.jpg')
        url('imgTest/IMG-0003-00061.jpg')
        url('imgTest/IMG-0003-00060.jpg')
        url('imgTest/IMG-0003-00059.jpg')
        url('imgTest/IMG-0003-00058.jpg')
        url('imgTest/IMG-0003-00057.jpg')
        url('imgTest/IMG-0003-00056.jpg')
        url('imgTest/IMG-0003-00055.jpg')
        url('imgTest/IMG-0003-00054.jpg')
        url('imgTest/IMG-0003-00053.jpg')
        url('imgTest/IMG-0003-00052.jpg')
        url('imgTest/IMG-0003-00051.jpg')
        url('imgTest/IMG-0003-00050.jpg')
        url('imgTest/IMG-0003-00049.jpg')
        url('imgTest/IMG-0003-00048.jpg')
        url('imgTest/IMG-0003-00047.jpg')
        url('imgTest/IMG-0003-00046.jpg')
        url('imgTest/IMG-0003-00045.jpg')
        url('imgTest/IMG-0003-00044.jpg')
        url('imgTest/IMG-0003-00043.jpg')
        url('imgTest/IMG-0003-00042.jpg')
        url('imgTest/IMG-0003-00041.jpg')
        url('imgTest/IMG-0003-00040.jpg')
        url('imgTest/IMG-0003-00039.jpg')
        url('imgTest/IMG-0003-00038.jpg')
        url('imgTest/IMG-0003-00037.jpg')
        url('imgTest/IMG-0003-00036.jpg')
        url('imgTest/IMG-0003-00035.jpg')
        url('imgTest/IMG-0003-00034.jpg')
        url('imgTest/IMG-0003-00033.jpg')
        url('imgTest/IMG-0003-00032.jpg')
        url('imgTest/IMG-0003-00031.jpg')
        url('imgTest/IMG-0003-00030.jpg')
        url('imgTest/IMG-0003-00029.jpg')
        url('imgTest/IMG-0003-00028.jpg')
        url('imgTest/IMG-0003-00027.jpg')
        url('imgTest/IMG-0003-00026.jpg')
        url('imgTest/IMG-0003-00025.jpg')
        url('imgTest/IMG-0003-00024.jpg')
        url('imgTest/IMG-0003-00023.jpg')
        url('imgTest/IMG-0003-00022.jpg')
        url('imgTest/IMG-0003-00021.jpg')
        url('imgTest/IMG-0003-00020.jpg')
        url('imgTest/IMG-0003-00019.jpg')
        url('imgTest/IMG-0003-00018.jpg')
        url('imgTest/IMG-0003-00017.jpg')
        url('imgTest/IMG-0003-00016.jpg')
        url('imgTest/IMG-0003-00015.jpg')
        url('imgTest/IMG-0003-00014.jpg')
        url('imgTest/IMG-0003-00013.jpg')
        url('imgTest/IMG-0003-00012.jpg')
        url('imgTest/IMG-0003-00011.jpg')
        url('imgTest/IMG-0003-00010.jpg')
        url('imgTest/IMG-0003-00009.jpg')
        url('imgTest/IMG-0003-00008.jpg')
        url('imgTest/IMG-0003-00007.jpg')
        url('imgTest/IMG-0003-00006.jpg')
        url('imgTest/IMG-0003-00005.jpg')
        url('imgTest/IMG-0003-00004.jpg')
        url('imgTest/IMG-0003-00003.jpg')
        url('imgTest/IMG-0003-00002.jpg')
        url('imgTest/IMG-0003-00001.jpg')    
    ;
    display: none;
}

.main_Window {
	position: relative;
	width: 500px;
	height: 500px;
	overflow: hidden;
	border: 5px solid black;
}

.images {
	position: absolute;
	overflow: hidden;
	width: 500px;
	height: 500px;
	left: 0;
	top: 0;
}
